<p>
  <b>User:</b>
  <%=h @message.user.username %>
</p>

<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>


<%= link_to 'Edit', edit_user_message_path(@message.user, @message) %> |
<%= link_to 'Back', user_messages_path(@message.user) %>