<p>
  <b>User:</b>
  <%=h @conversation.user.username %>
</p>

<p>
  <b>Title:</b>
  <%=h @conversation.title %>
</p>


<%= link_to 'Edit', edit_user_conversation_path(@conversation.user, @conversation) %> |
<%= link_to 'Back', user_conversations_path(@conversation.user) %>