<div id="login_status">
	<% if current_user %>
		<%= "Not #{link_to(current_user.username, edit_user_path(current_user))}? #{link_to('Logout', logout_path)} now!"%>
	<% else %>
		<%= link_to 'Register', new_user_path %> |
		<%= link_to 'Login', login_path %>
	<% end %>
</div>